html,body{
    overflow-y: auto;
}
.page{
    padding: 10px;
}
/*页面全局筛选*/
.pageSelect{
    padding: 10px;
    height: 34px;
    border: 1px solid #eee;
    background: #f9f9f9;
}
.pageSelect >p{
    display: inline-block;
}
.selectFilter>select{
    margin-right:5px;
    min-width: 100px;
    height: 32px;
    border: 1px solid #fff;
    border-radius: 5px;
    color: #777;
    font-size: 14px;
    cursor: pointer;
    outline: none;
    font-family: "微软雅黑", Helvetica, sans-serif;
}
/*日期筛选*/
.pageDate{

}
/*页面详情*/
.pageDetail{

}
.homeTop{
    padding:10px 0;
    width: 100%;
    height: 80px;
}
.homeTopText{
    float: left;
    width: 24.9%;
    border-right:1px solid #eee;
}
.homeTopText > span,.homeTopText >p{
    display: block;
    line-height: 30px;
    text-align: center;
    color:#999;
    font-size: 16px;
}
.homeTopText >p{
    margin:0 10%;
    line-height: 50px;
    color:#FFA463;
    font-size: 20px;
    font-weight: bold;
}
.chinaBar{
    margin:10px 0;
}

.dashBoardText{
    font-size: 24px;
    font-weight: bold;
    color: #777;
}
.homeLineXS{
    height: 400px;
    width: 49%;
    border: 1px solid #eee;
}
.homeLine{
    height: 400px;
    width:49%;
    border: 1px solid #eee;
}
.homeLayout{
    position: relative;
    margin-top:20px;
    width:100%;
    background: #fafafa;
}
.homeChina{
    width: 100%;
    height: 500px;
}
.homeBar{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 44%;
    height: 350px;
}
.homeText{
    position: absolute;
    right: 50px;
    top:70px;
    width:34%;
    height: 100px;
}
.homeText > p{
    font-size: 14px;
    line-height: 30px;
    color:#999;
    text-indent: 2em;
}

/*层级筛选框*/
.date_picker {
    margin-right: 5px;
    width: 90px;
    background: #fefefe;
    border: 1px solid #fff;
    font-size: 14px;
    color: #777;
    padding: 5px;
    border-radius: 3px;
    outline: none
}
.dateClear{
    width:60px;
    color:#888;
    cursor: pointer;
}
.dateClear:hover{
    background: #FF5F3E;
    border-color: #FF5F3E;
    color:#fff;
}
/*渠道结构分析*/
.channelLayout{
    position: relative;
    margin-top: 10px;
    height: 500px;
}
.channelLeft{
    margin-right:1%;
    position: absolute;
    left:0;
    width: 39%;
    height: 100%;
    border:1px solid #eee;
}
.channel_totalRevenue{
    position: absolute;
    right:20px;
    top: 8px;
    z-index: 1;
}
.channel_totalRevenue >span{
    font-size: 16px;
}
.totalRevenue,.distribution,.direct{
    color: red;
}
.channelTop{
    position: absolute;
    right:0;
    width: 60%;
    height: 49%;
    border:1px solid #eee;
}
.channel_twoTopPie{
    width: 50%;
    height: 100%;
}
.channelbottom{
    position: absolute;
    right:0;
    bottom:0;
    width: 60%;
    height: 49%;
    border:1px solid #eee;
}
/*渠道运价结构分析*/
.tariffsTop{
    width: 100%;
    height: 500px;
}
.tariffsBar{
    position: absolute;
    width: 49%;
    height: 100%;
    border:1px solid #eee;
}
.tariffsPie{
    position: absolute;
    left: 24%;
    width: 25%;
    height: 50%;
}
.tariffsBar2{
    position: absolute;
    right: 0;
    width: 49%;
    height: 100%;
    border:1px solid #eee;
}
.tariffsPie2{
    position: absolute;
    right: 0;
    width: 25%;
    height: 50%;
}
.tariffsBottom{
    margin:1% 0;
    position: relative;
    width: 100%;
    height: 350px;
}
.tariffsScatter{
    position: absolute;
    width: 49%;
    height: 100%;
    border:1px solid #eee;
}
.tariffsLine{
    position: absolute;
    right: 0;
    width: 49%;
    height: 100%;
    border:1px solid #eee;
}

/*渠道单联程结构分析*/
.interLineLeft{
    position: absolute;
    bottom:0;
    right:0;
    width: 25%;
    height: 70%;
    border:1px solid #eee;
}
.interLineText{
    padding:1%;
    position: absolute;
    top:10px;
    right:0;
    width: 23%;
    height: 28%;
}
.interLineText >p{
    color:#999;
    font-size: 14px;
    line-height: 30px;
    text-indent: 2em;
}
.interLineRight{
    position: absolute;
    left:0;
    width: 74%;
    height: 100%;
    border:1px solid #eee;
}
.interLineChina{
    width: 100%;
    height: 100%;
}
.interLineBar{
    position: absolute;
    right:20px;
    bottom:50px;
    width: 20%;
    height: 60%;
}


/*舱位结构分析*/
.spaceBar{
    margin-right:1%;
    position: absolute;
    left:0;
    width: 40%;
    height: 100%;
    border:1px solid #eee;
}
.spacePie{
    position: absolute;
    right:0;
    width: 59%;
    height: 100%;
    border:1px solid #eee;
}
/*旅客*/